PORT=3000
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=usuario@example.com
SMTP_PASS=tu_password_o_app_password
MAIL_FROM=Mario Paz <usuario@example.com>
MAIL_TO=mario.paz.software@gmail.com
